<p>receipt works!</p>
<div class="col col-md-12 ticket">
    <div class="p-3 border bg-light txtlarge"> Order # <div> Counter </div>
    </div>
    <div class="row">
        <div class="col col-md-8 txtlarge"> Items </div>
        <div class="col col-md-4 txtlarge"> Price </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="cart-item" *ngFor="let item of items">
            <span>{{ item.name }}</span>
            <span>{{ item.price | currency }} </span>
            <button type="button" class="close" aria-label="Remove Item" (click)="removeItemFromCart(item.id)">
                <span aria-hidden="true">&times;</span>
              </button>      
          </div>
					<span class="d-block">{{totalAmount| currency:'INR'}}</span>
          
    </div>

    <div class="row mt-3 mb-5">
        <div class="col col-md-8 txtlarge"> TOTAL </div>
        <div class="col col-md-4 txtlarge"> $FINAL PRICE </div>
    </div>

    <div class="row info">
        <!-- We are creating a service with the input data of add-name -->
        <!-- <app-add-name></app-add-name>
        <app-list-name></app-list-name> -->
    </div>
</div>