<p>modal works!</p>

<!-- <div class="modalContainer" *ngFor="let product of products">
    <form class="modalContent">
      <label for=""> Data Entry: <br>
        <input type="text" data-value="{{product.dateEntry}}">
      </label>
      <label for=""> Product Name: <br>
        <input type="text" data-value="{{product.name}}">
      </label>
      <label for=""> Price: <br>
        <input type="text" data-value="{{product.price}}">
      </label>
      <button>Close</button>
    </form>
</div> -->
